[[extend 'layout.html']]

<div class="section">

  <div class="title">
    Phone Numbers for


    [[for e in entry:]]
    [[=e.first]] [[=e.last]]
    [[pass]]
  </div>

  <table class="table is-striped is-fullwidth">
    <tr>
      <th>Phone</th>
      <th>Kind</th>
      <th></th>
    </tr>
    [[for row in rows:]]
    <tr>
      <td>[[=row.phone_number]]</td>
      <td>[[=row.kind]]</td>
      <td>
        <a class="button is-warning" href="[[=URL('edit_phone', address_id, row.id, signer=url_signer)]]">
          <span class="icon"><i class="fa fa-fw fa-edit"></i></span>
        </a>
        <a class="button is-danger" href="[[=URL('del_phone', address_id, row.id, signer=url_signer)]]">
          <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
        </a>
      </td>
    </tr>
    [[pass]]
  </table>

  <a class="button is-success" href="[[=URL('index')]]">
    <span class="icon"><i class="fa fa-arrow-left"></i></span>
    <span>Back</span>
  </a>

  <a class="button is-primary" href="[[=URL('add_phone', address_id, signer=url_signer)]]">
    <span class="icon"><i class="fa fa-plus"></i></span>
    <span>Add Phone Number</span>
  </a>

</div>